label {

	color: blue;
}
#menu {
	float: left;
	width: 15px;
	background-color:  cyan; 

}
#menu ul {
	list-style: none;

}
#menu ul a:hover{
	background-color: pink;

}

#sisalto {
	margin-left: 10px;


}
